.harvest {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.harvest .card {
  width: 100%;
  margin-bottom: 10px !important;
  min-height: 120px !important;
}

.harvest .tableScroll {
  overflow: scroll;
  flex-grow: 1;
  background-color: white;
}

.harvest .tableScroll td {
  font-size: .6em;
  padding-left: 10px !important;
}

.harvest .headTable {
  margin: 0 0 -5px 0;
}

.harvest .headTable th, .harvest .bodyTable td{
  width: 20% !important;
}
