.marker {
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% 50% 50% 0;
  background: #00cae9;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  //margin: -20px 0 0 -20px;
  //animation-name: bounce;
  //animation-fill-mode: both;
  //animation-duration: 1s;
  display: flex;
  justify-content: center;
  &:after {
    content: '';
    width: 6px;
    height: 6px;
    margin-top: 4px;
    background: #e6e6e6;
    position: absolute;
    border-radius: 50%;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
