@import '../colors';

#work {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #2F2F2F;
  background-image: url('assets/img/bg5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#work .container {
  max-width: 1000px;
  min-height: 500px;
  display: flex;
  flex-grow: 1;
  padding: 15px;
  flex-direction: column;
}

#work .stepMenu {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  min-height: 70px;
}

#work .currentStep {
  flex-grow: 1;
  display: flex;
  margin-bottom: 10px;
}

#work .ui.buttons {
  min-height: 35px;
}
