.roadtrip {
  display: flex;
  height: 100vh;
}

.roadtrip .modal {
  width: 90% !important;
}
.roadtrip .menu {
  background-color: #333333;
  min-width: 150px;
  overflow-y: scroll;
}

.roadtrip .menu i {
  color: #0eb591;
}
.roadtrip .menu ul {
  padding-left: 10px;
  list-style-type: none;
}
.roadtrip .menu li {
  padding-left: 10px;
}

.roadtrip .menu li a {
  color: #c3c3c3 !important;
}
.roadtrip .menu li:hover a {
  color: #0eb591 !important;
  cursor: pointer;
}

.roadtrip .menu li:first-child {
  padding-left: 0px !important;
}

.roadtrip .menu li:first-child a {
  font-size: 1.3em;
  color: white !important;
}

.roadtrip .container {
  overflow-y: scroll;
}

.roadtrip .container .card {
  width: 100%;
}
.roadtrip .container .card .header {
  font-size: 1.5em;
}
.roadtrip .container h1 {
  text-align: center;
  font-size: 4em;
  color: #0eb591;
  margin: 0;
}
.roadtrip .container .intro {
  padding: 10px;
}
.roadtrip .container .intro .about {
  font-size: 1.5em;
  line-height: 1em;
  color: #b7b7b7;
  font-style: italic;
  border-left: 4px solid;
  padding-left: 5px;
}
.roadtrip .container .intro ul {
  padding: 0;
  list-style-type: none;
}
.roadtrip .container .intro ul li {
  margin-bottom: 20px;
}
.roadtrip .container .intro ul li .head {
  display: flex;
  align-items: center;
}
.roadtrip .container .intro ul li h3 {
  margin: 0;
}
.roadtrip .container .intro ul li .body {
  margin-left: 40px;
}
.roadtrip .container .intro ul li .apps {
  margin-left: 40px;
}
.roadtrip .container .intro ul li .apps .app {
  margin-bottom: 10px;
}
.roadtrip .container .intro ul li .apps .app h4 {
  white-space: nowrap;
  margin: 0;
}
.roadtrip .container .intro ul li .apps .app div {
  display: flex;
  align-items: center;
}
.roadtrip .vietnam header {
  background-image: url('../assets/images/vietnam.jpg');
}
.roadtrip .cambodge header {
  background-image: url('../assets/images/cambodge.jpg');
}
.roadtrip .thailande header {
  background-image: url('../assets/images/thailande.jpg');
}
.roadtrip .country header {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.roadtrip .country header .overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  background-position: center;
  opacity: .2;
  position: absolute;
}
.roadtrip .country header .title {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
}
.roadtrip .country header .title h2 {
  font-size: 3.5em;
  color: white;
}
.roadtrip .country article {
  padding: 10px;
}
.roadtrip .country article .corpse {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.roadtrip .country article .corpse img {
  margin: 0 auto 10px auto;
}
