@import '../colors';

@keyframes bump {
  0% {
    width: 400px;
    height: 400px;
  }
  10% {
    width: 380px;
    height: 380px;
  }
  90% {
    width: 380px;
    height: 380px;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}

.landing {
  height: 85vh;
  background-color: #272727;
  background-image: url('assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.landing .overlay, .landing .container {
  position: absolute;
  height: 85vh;
  width: 100%;
}

.landing .overlay {
  background-color: #000;
  opacity: .5;
}

.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}

.landing .container h1 {
  color: white;
  font-size: 4em;
}

.landing .backContainer, .landing .frontContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .subContainer {
  margin: auto;
  width: 400px;
  min-height: 400px;
}

.landing img, .landing .coverImg {
  margin: auto;
  display: flex;
  justify-content: center;
  animation-name: bump;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.landing .coverImg {
  width: 400px;
  height: 400px;
  padding-top: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.landing .imgOverlay {
  width: 100%;
  background-color: #000;
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .buttonContainer {
  display: flex;
  justify-content: center;
}

.landing button {
  font-size: 1em !important;
  margin: 0 !important;
}

.landing .social {
  display: flex;
  justify-content: center;
}

.landing .social button {
  margin: 0 5px 0 5px !important;
}
