@import '../colors';

@keyframes bump {
  0% {
    width: 400px;
    height: 400px;
  }
  10% {
    width: 380px;
    height: 380px;
  }
  90% {
    width: 380px;
    height: 380px;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.landing {
  background-color: #272727;
  background-image: url('assets/img/bg4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.landing .overlay, .landing .container, .landing {
  height: 100vh;
  min-height: 630px;
}

.landing .overlay, .landing .container {
  position: absolute;
  width: 100%;
}

.landing .overlay {
  background-color: #000;
  opacity: .5;
}

.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .container h1 {
  color: white;
  font-size: 4em;
  margin: 0;
}

.landing .backContainer, .landing .frontContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .subContainer {
  margin: 0 auto 0 auto;
  width: 400px;
  min-height: 400px;
}

.landing img, .landing .coverImg {
  margin: auto;
  display: flex;
  justify-content: center;
  animation-name: bump;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

.landing .coverImg {
  width: 400px;
  height: 400px;
  padding-top: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.landing .imgOverlay {
  width: 100%;
  background-color: #000;
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing .buttonContainer {
  display: flex;
  justify-content: center;
}

.landing button {
  font-size: 1em !important;
  margin: 0 !important;
}

.landing .social {
  display: flex;
  justify-content: center;
  min-height: 36px;
  margin: 10px;
}

.landing .social button {
  margin: 0 5px 0 5px !important;
}

.landing .scroller {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.landing .scroller .scroll-container {
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
}

.landing .scroller .scroll-container:hover {
  opacity: .5;
  cursor: pointer;
}

.landing .scroller .arrows {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.landing .scroller span {
  width: 24px;
  height: 24px;
  margin-top: -10px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: fader 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.landing .scroller span:nth-of-type(1) {
  animation-delay: 0s;
}
.landing .scroller span:nth-of-type(2) {
  animation-delay: .15s;
}
.landing .scroller span:nth-of-type(3) {
  animation-delay: .3s;
}

.landing .scroller h5 {
  color: #fff;
  letter-spacing: .1em;
  margin: 15px auto 10px auto;
  font-weight: lighter;
}
